.textCenter{
    width: 100%;
    text-align: center;
}
img{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
body{
    background: gray !important;
}
.itemStyle{
    background: white;
    border: solid 10px grey;
    padding: 10px;
    border-radius: 20px;
}