<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="Controler.js"></script>
        <link rel="stylesheet" href="Styles.css">
        <link rel="stylesheet" href="ModalStyles.css">
        <link rel="stylesheet" href="LoginStyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body  ng-app="myApp" ng-controller="myCtrl">
        <nav ng-if="user !== ''" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-click=" setView(0) ; load();">Device Farm</a>
                </div>
                <ul class="nav navbar-nav">
                    <li  ng-if="Permission === 1" ng-click=" setView(1) ">
                        <a  ><span class="glyphicon glyphicon-device"></span>Add Device</a>
                    </li>  
                    <li style="top:7px;">
                        <input ng-model="$parent.search" type="text" class="form-control"  placeholder="Search">
                    </li>     
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  ><span class="glyphicon glyphicon-user"></span>{{" " + user}}</a>
                    </li>
                    <li ng-click="logout()">
                        <a  ><span class="glyphicon glyphicon-log-out"></span> LogOut</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--LOGIN-->
        <div ng-if="user === ''" class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1>

                <hr>
                <form>
                    <input type="text" value="" id="user" placeholder="Email">
                    <input type="password" value="" id="pass" placeholder="Password">
                    <input type="submit" name="login" ng-click="login()" class="login loginmodal-submit" value="Login">
                </form>

            </div>
        </div>
        <!--HOME-->
        <div ng-if="user !== ''" class="container">
             <div class="row" ng-if="currentView === 1">
                <div class="itemStyle col-sm-12" ng-if="Permission === 1">
                    <p>New Device</p>
                    <table class="table">
                        <tr>
                            <th>Code:</th><th><input id="code" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>Image:</th>
                            <th>
                                <label class="btn btn-default btn-file">
                                    Browse <input id="Imagen" type="file" style="display: none;" ng-model="editItem._attachments_uri.image" 
                                                  accept="image/*" app-filereader />
                                    <img alt src="" id="prev" >
                                    <script>
                                                document.getElementById("Imagen").addEventListener("change", readFile);
                                    </script>
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <th>Brand:</th><th><input id="brand" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>Model:</th><th><input id="model" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>OS:</th><th><input id="os" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>Version:</th><th><input id="version" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>IP:</th><th><input id="ip" type="text"   ></th>
                        </tr>
                        <tr>
                            <th>MAC Adress:</th><th><input id="mac" type="text"   ></th>
                        </tr>
                        <tr>
                            <th></th><th><input type="button" ng-click="NewDevice()" class="btn btn-primary" value="Add"  ></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="currentView === 0" >


                <div class="itemStyle col-sm-3" id="element{{$index}}"
                     ng-repeat="item in DeviceList| filter : search  "
                     >

                    <div ng-click="expand($index)">
                        <p class=" textCenter"><b>{{item.feactures.code + "[" + item.feactures.brand + " " + item.feactures.model + "]"}}</b></p>
                        <img   class="col-sm-12" alt="" src="{{item.src}}">
                        <p class="textCenter"><b>{{item.status}}</b>{{" " + item.name}}</p> 
                    </div>    
                    <button ng-click="delete($index)" type="button" style="width: 100%;" ng-if="Permission === 1" class="btn btn-default btn-sm">
                        Delete <span class="glyphicon glyphicon-remove"></span>  
                    </button>

                </div>
            </div>                
        </div>
        <!-- The Modal -->
        <div  id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div ng-class="whatClassIsIt(CurrentDevice.status)" class="modal-header">
                    <span ng-click="close()" class="close">&times;</span>
                    <h2>Device Stack</h2>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="row" >
                            <div class=" col-sm-3"  >
                                <p class="textCenter"><b>{{CurrentDevice.name}}</b></p>
                                <div >
                                    <img alt=""  class="displayed"  src="{{CurrentDevice.src}}" style=" padding: auto;max-width: 200px">

                                </div>
                                <p class="textCenter"><b>{{CurrentDevice.status}}</b></p>
                            </div>  
                            <div class=" col-sm-3" >
                                <p class=""><b>Feactures</b></p>
                                <table class="table">
                                    <tr  ng-repeat="(key, value) in CurrentDevice.feactures"><th><b>{{key+": "}}</b></th><th> {{ value}}</th></tr>                            
                                </table>

                            </div>  
                            <div class=" col-sm-2">
                                <p class=""><b>Reservation</b></p>
                                <input type="number" id="requestTime" placeholder="Time in hours" class="form-control" >
                                <br>
                                <select id="requestPriority" class="form-control">
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                                <br>
                                <button type="button" ng-click="AsigMe()" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-ok"></span> Asing me 
                                </button>
                            </div>  

                            <div class=" col-sm-3">
                                <p class=""><b>Stack</b></p>

                                <table class="table" ng-repeat=" stack in CurrentDevice.stack| priorityOrder : priority" >
                                    <tr >
                                        <th>{{"Name: "+stack.name}}</th>
                                    </tr>  
                                    <tr >
                                        <th>{{"Time: "+stack.time + " hours"}}</th>
                                    </tr>  
                                    <tr >
                                        <th>{{"priority: "+stack.priority}}</th>
                                    </tr>  
                                    <tr >
                                        <th>{{"resquet date: "+ (stack.resquetDate | date:'yyyy-MM-dd HH:mm:ss ') }}</th>
                                    </tr>  
                                    <tr ng-if="stack.name ===user&&stack.status ==='Take'&&stack.id===CurrentDevice.asignationID" >
                                        <th  ><input class="btn" type="button" ng-click="give(CurrentDevice.id,stack.id)" value="Add" ></th>
                                    </tr>    
                                    <tr ng-if="stack.name ===user&&stack.status ==='Given'&&stack.id===CurrentDevice.asignationID" >
                                        <th  >
                                            <button  ng-click="free(CurrentDevice)" type="button" style="width: 100%;" class="btn btn-default btn-sm">
                                                Return <span class="glyphicon glyphicon-transfer"></span>  
                                            </button>
                                        </th>
                                    </tr>
                                    
                                </table>
                            </div> 
                        </div> 
                    </div>
                </div>
                <div ng-class="whatClassIsIt(CurrentDevice.status)" class="modal-footer">
                    <h3>Divice {{CurrentDevice.feactures.code}} available in {{totalTime}} hours</h3>
                </div>
            </div>
        </div> 
    </body>
</html>
