.textCenter{
    width: 100%;
    text-align: center;
}
img{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
th input{
   width: 100%; 
}
th label{
   width: 100%; 
}
body{
    background: #454685 !important;
}
.itemStyle{
    background: white;
    border: solid 10px #454685;
    padding: 10px;
    border-radius: 20px;
}